#entries-list-wrapper,
#add-entry-button,
#entry-setting-form {
  box-shadow: min(0.2vh, 0.1vw) min(0.2vh, 0.1vw) min(0.4vh, 0.2vw) black;
}

#entries-list-wrapper {
  background-color: var(--tmd-element, lightgray);
  border-radius: var(--deeplib-border-radius);
  padding: min(1dvh, 0.5dvw);
  display: flex;
  flex-direction: column;
  gap: min(1dvh, 0.5dvw);

  button {
    width: 100%;
    height: 100%;

    &,
    &::before {
      border-radius: var(--deeplib-border-radius)
    }
  }

  .deeplib-button-container {
    width: 100%;
  }
}

#entries-list-nav {
  display: flex;
  flex-direction: row;
  gap: min(1dvh, 0.5dvw);
  align-items: center;
}

#search-input-container {
  flex: 1 1 auto;
}

#add-entry-button {
  flex: 0 1 0;
  display: flex;
  align-items: center;

  // &,
  // &::before {
  //   border-radius: 50%;
  // }

  width: min(2.6dvh, 1.3dvw);
  height: min(2.6dvh, 1.3dvw);

  img {
    width: 80%;
    height: 80%;
    inset: 10%;
    transition: transform 0.2s ease-in-out;
  }

  &:active img {
    transform: rotate(180deg);
  }
}

#entries-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: min(1dvh, 0.5dvw);
  padding-right: min(1dvh, 0.5dvw);
  flex-grow: 2;
  scrollbar-gutter: stable;

  & .deeplib-button-container {
    flex: 1;
    max-height: 2.6rem;
  }
}

#entry-setting-form {
  background-color: var(--tmd-element, lightgray);
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  border-radius: var(--deeplib-border-radius);
  padding: min(1.8dvh, 0.6dvw);
  display: flex;
  flex-direction: row;
  gap: min(1dvh, 0.5dvw);

  &.hidden {
    visibility: hidden;
  }

  &.active {
    visibility: visible;
  }

  .entry-div {
    display: flex;
    flex-direction: column;
    gap: min(1dvh, 0.5dvw);
  }
}

.response-entry-button.active {
  background-color: var(--tmd-accent, lightgray);
}

.deeplib-button-container:has(.response-entry-button.hidden) {
  visibility: hidden;
  display: none;
}
