.ResponsiveMessageContent {
  display: inline;
}

.ResponsiveVersion {
  font-weight: bold;
  color: rgb(203, 185, 23);
}

#TextAreaChatLog[data-colortheme='dark'] div.ChatMessage.ResponsiveMessage,
#TextAreaChatLog[data-colortheme='dark2'] div.ChatMessage.ResponsiveMessage {
  background-color: #111;
  border: 2px solid #440171;
  padding-left: 5px;
  display: block;
  white-space: normal;
  color: #eee;
}

#TextAreaChatLog div.ChatMessage.ResponsiveMessage {
  background-color: #eee;
  border: 2px solid #440171;
  padding-left: 5px;
  display: block;
  white-space: wrap;
  color: #111;
}

#TextAreaChatLog[data-colortheme='dark'] a.ResponsiveText,
#TextAreaChatLog[data-colortheme='dark2'] a.ResponsiveText {
  cursor: pointer;
  font-weight: bold;
  color: #eee;
}

#TextAreaChatLog a.ResponsiveText {
  cursor: pointer;
  font-weight: bold;
  color: #111;
}

#ResponsiveGratitude {
  position: fixed;
  width: 25%;
  height: 50%;
  top: 15%;
  left: 50%;
}

.ResponsiveH {
  font-size: 1em;
  color: #333;
}

.ResponsiveP {
  font-size: 0.6em;
  color: #555;
  line-height: 1.5;
}

.ResponsiveP:last-child {
  font-size: 0.8em;
  color: #ff69b4;
}
