name: Build + Deploy

on:
  workflow_dispatch:
  push:
  
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
          
      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build --if-present
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1.0.8
        with:
          name: main.js
          path: dist/
          
      - name: Deploy GitHub Pages site
        uses: actions/deploy-pages@v2.0.0
        with: 
          artifact_name: main.js
